@using Lanchonete.Models
@model List<Pedido>
@{
    ViewData["Title"] = "Lanchonete - Listagem Pedidos";
}

<h1>Listagem Pedidos</h1>

<div>
    <table id="tableListaPedidos" class="table">
        <thead>
            <tr>
                <th>Pedidos</th>
            </tr>
            <tr>
                <th>Número Pedido</th>
                <th>Lanches</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pedido in Model) {
                <tr id="@pedido.Id">
                    <td>@pedido.Id</td>
                    <td>@string.Join(", ", pedido.Lanches.Select(l => l.Nome))</td>
                    <td>@pedido.ValorTotal</td>
                </tr>
            }
        </tbody>
    </table>
</div>