@{
    ViewData["Title"] = "Lanchonete";
}

<div class="row">
    <div class="col-md-5">
        <h2>Areas Administrativas</h2>
        <ul>
            <li><a asp-area="" asp-controller="Promocao" asp-action="Index">Gerenciar Promoções</a></li>
            <li><a asp-area="" asp-controller="Pedido" asp-action="Index">Pedidos</a></li>
        </ul>
    </div>
    <div class="col-md-5">
        <h2>Areas Usuários</h2>
        <ul>
            <li><a asp-area="" asp-controller="Pedido" asp-action="Criar">Criar Pedido</a></li>
        </ul>
    </div>
</div>
